.display {
    min-height: 100%;
    width: 70%;

    display: flex;
    flex-direction: column;

    padding: 48px;

    background-color: #f0f0f0;

    .title {
        margin-bottom:36px;
    }

    .students {
        width: 100%;

        display: flex;
        flex-wrap: wrap;

        .student {
            height: fit-content;
            padding: 36px 24px;
            border-radius: 12px;
            border-top: 4px #777 solid;

            margin: 0 12px 12px 0;

            background-color: #fff;

            .contact-info {
                font-size: small;
                margin-bottom: 16px;

                svg {
                    fill: #777;
                }

                p {
                    color: #777;
                    margin-bottom: 6px;
                }
            }

            a {
                color: #990000;
            }
        }

        .student:hover {
            border-top: 4px #990000 solid;
            cursor: pointer;
            background-color: #fafafa;
        }
    }
}

@media only screen and (max-width: 900px) {
    .display {
        width: 100%;
    }
}